body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.main {
    display: flex;
    gap: 1em;
    justify-content: center;
    max-width: 600px;
    flex-wrap: wrap;
    margin: 0 auto;
}
img {
    height: 200px;
}
#home img{
    height: 400px;
}
h1 {
    text-align: center;
}
.main h1 {
    background-color: aqua;
    color: black;
}
.header {
    text-align: center;
    background-color: black;
    color: white;
}
#haircut_length, #haircut_product {
    display: none;
    text-align: center;
}
.products {
    display: block;
    width: min-content;
}
#haircut_product .main > img{
    height: 200px;
}
